.table-view
{
	-fx-background-color:  #F8FFFF;
	-fx-border-color:   #F8FFFF;
	-fx-border-radius: 7px;
	-fx-background-radius: 7px;
	-fx-paddingg: 0px;
}
.table-view .column-header-background
{
	-fx-background-color: #92bce3;
	-fx-border-radius: 8px 8px 0px 0px;
	-fx-border-color: #92bce3;
	-fx-border-width: 1px;
	
}
.table-view .table-column
{
	-fx-alignment: CENTER
}
.table-view .column-header, .filter
{
	-fx-background-color: transparent;
	-fx-size: 20px;
}
.table-view .column-header, .label
{
	-fx-font-family: "Tahoma";
	
}




.textfield
{
	-fx-background-color: #92bce3;
	-fx-border-color: #92bce3;
	-fx-border-width: 8px;
	-fx-font-family: "Tahoma";
	
	-fx-border-radius: 4px;
}
.textfield:focused
{
	-fx-border-width: 8px;
}